@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,300italic,300,100italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
html, body {
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    margin: 0;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}


